.horizontal-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 3.5em;
    background-color: black;
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
  }
  
  .horizontal-navbar li {
    display: inline;
  }

  .horizontal-navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 7%;
    text-decoration: none;
  }
  a {
    background-color: transparent;
  }

  .over-image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  hr {
    height: 10px;
  }

  .link-img {
    height: 337.5px;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card-content:hover img {
    webkit-filter: blur(4px);
    filter: blur(4px);
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }

  .modal-image {
    height: 212px;
    width: 212px;
    object-fit: cover;
    display: block;
    float: left;
    cursor: pointer;
  }

  h3 {
    font-size: 1.6rem !important;
  }

  h4 {
    font-size: 1.2rem !important;
  }

  .round-image {
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  .col-md-6 p {
    margin-bottom: 1.6rem;
  }

  .smaller-bottom {
    margin-bottom: .2rem;
  }

  #resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .section-outline {
    /* outline: black solid 5px; */
    border-radius: 10px;
    /* border: 5px solid black; */
    background-color: black;
    padding-top: calc( var(--bs-gutter-x));
    margin-bottom: calc( var(--bs-gutter-x));
    margin-right: calc( var(--bs-gutter-x));
    margin-left: calc( var(--bs-gutter-x));
  }

  .card-img {
    /* border: 0px solid rgba(0, 0, 0, 0); */
    border: inherit;
  }
  